<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/home.css">
    <script src="static/js/main.js"></script>
</head>
<body>
    <div class="header-master">
        <div class="image-container">
            <img class="avatar" src="https://avatars.githubusercontent.com/u/128084939">
        </div>
        <div class="name-container">
            <h1 class="titular">Adrian</h1>
        </div>
    </div>
</body>
</html>