html, body{
    height: 100%;
    margin: 0;
    background: #202D37;
    background: linear-gradient(180deg, #202D37, #181834);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    filter: (10rem);
}
.header-master{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-container{
    width: 12vw;
    position: inherit;
    align: left;
}

.avatar{
    width: 100%;
    border-radius: 50%;
}

.titular{
    text-align: right;
}
